*{margin:0;
  padding:0;
}
body {background-image: url('t.jpeg');
     background-repeat: no-repeat;
     height:100vh;
     background-size: cover;
     background-position:center;
     background-attachment: fixed;
     text-align:center;
     font-family: "Open Sans", Tahoma, sans-serif;
     color:#fff;
     line-height: 1.2;
}
header{
	padding: 0vh 4vw;
}
#show{
	padding-top:25vh;
}
#show p{
	font-size:1.2rem;
}

#heading{
	font-size: 10vh;
}
#share{padding-top: 4vh;
}
.button{
font-size:1.5rem ;
text-decoration: none;
color: #fff;
font-weight: bold;
border:#fff 2px solid;
padding:3px 0;
border-radius:10px;
margin-top:6vh;
background-color: rgba(0,0,0,0);
}

.button:hover{
	background:#fff;
	color:orange;
}

ul{text-align: center;
	
}

li{display: inline;
	margin:1%;
}
li a{
	text-decoration: none;
}
.event img:hover, .s_media:hover{
	transform:scale(0.9);
}
.event img, .s_media{
	transition:transform 0.4s;
}
#share{
	margin:auto auto 20vh auto;
	width:60%;
}
#share img{
	width:30%;
}
#share p{
	margin-bottom: 1.2vh;
}
main{padding-top:0vh;
	text-align:center;
	margin:auto;
	font-family: "Open Sans", Tahoma, sans-serif;
}
nav{font-size: 1.2rem;
	background-color: rgba(255,255,255,0.8);
	padding-top:1vh;
	padding-bottom:1vh;
 }

ul{text-align: center;
	
}
li{display: inline;
	margin:1%;
}
li a{
	text-decoration: none;
}
#title_sponsors, #assoc_sponsors{background-color:rgba(255,255,255,0.3);
	height: 65vh;
}
#title_sponsors h1, #c_guest h1, #events h1, #register h1, #assoc_sponsors h1{
	padding:1vh 0vw;
	font-size:2rem;
	margin-bottom:10vh;
	background-color: rgba(128,0,128,0.6);
	width:100%;
}
#title_sponsors img, #assoc_sponsors img{float:left;
	display:inline;
	padding:0 12.5%;
	width:25%;
}
#c_guest{background-color: rgba(255,255,255,0.3);padding-bottom:20vh;
margin-top:0vh;
}
.cg{
	width:95%;margin:auto;background-color: rgba(255,255,255,0.6);
	padding-bottom: 20vh; margin-top: 4vh;
	border-radius: 15px;
}
#c_guest img{
	width:60%;
}
#events{height:auto;
	margin-top:0vh;
	background-color:rgba(255,255,255,0.3);
	padding-bottom:35vh;
}
.event{
	height:50vh;
	width:95%;
	margin:auto;
	margin-top:4vh;
	background-color:rgba(255,255,255,0.6);
	border-radius:15px;
}
.event img{margin-top: 2vh;
	border:8px solid orange ;
	border-radius:50%;
	width:50%;
}
.front h2{margin-top:5vh;
	color: #ffa500;
	}
#register{
	background-color:rgba(255,255,255,0.3);
	padding-bottom:20vh;
	color:#fff;
}


form{font-size: 3vh;
	width:85%;
	margin:auto;
	padding: 6vh 3vw;
	background-color:rgba(0,0,0,0.6);
}
fieldset{width:95%;
	margin:auto;
	border-style: 5px groove red;
	background-color: rgba(140,140,140,0.6);
}
fieldset img{
	padding:0rem;
}
span{margin:0 2vh;
	font-size:3.5vh;
}
#details {
	width:80%;
	height: 4vh;
}
.rrr{font-size:3vh;
	background-color: rgba(0,240,240,0.8);
	width:60%;padding:1vh 2vw;
}
@media(min-width:890px){
body{
      font-size:1.5rem;
      line-height:1.8;
    }   

#heading{
		font-size: 6.5rem;
	}
#show p{
	font-size:1.5rem;
    }
#share{padding-top: 13vh;}
#share img{
		width:13%;
}
.button{
   width:60%;
   margin:auto;
   font-size: 1.1rem;
   text-decoration: none;
   font-weight: bold;
   border:#fff 3px solid;
   padding:3px;
   border-radius:15px;
   margin-top:4vh;
}
#title_sponsors h1, #c_guest h1, #events h1, #register h1, #assoc_sponsors h1{
	font-size:2.2rem;
	margin:auto auto 1.5vh auto;
	text-align: center;
}
.logos{display:inline-block;
	width:20%;
}
#title_sponsors, #assoc_sponsors{
	height:40vh;
}
#title_sponsors img, #assoc_sponsors img{align-items: center;
	width:50%;
}
#c_guest{padding-bottom:0vh;
}
#c_guest .cg{
	border-radius: 30px;
	width:30%;
	display:inline-block;
	margin:10vh auto 10vh auto;
}
#events{height:330vh;
	width:100%;
	margin:auto;
}
#e_e{margin:auto;
	width:80%;
	padding-top: 15vh;
}
.event{ font-size:1.2rem;
	height:40vh;
	float:left;
	width:30%;
	padding:1%;
	margin: 0.667%;
	border-radius:30px;}
.front h2{margin-top:0vh;
	color:#000;
	}
.as{display:inline-block;
	width:20%;
}

#share img{
	width:10%;
}
fieldset img{width:7em;
	padding:0 5.5rem;
}
.rrr{font-size:3vh;
	padding:1.5vh 2vw;
}
	
}



